:root {
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* Text colors */
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --grey-txt-cl: #757575;
  --wh-txt-cl: #ffffff;
  --bl-txt-cl: #000000;
  --fill: #afb1b8;
  --address-cl: rgba(255, 255, 255, 0.6);
  /* Bg colors */
  --dark-bg-cl: #2f303a;
  --grey-bg-cl: #f5f4fa;
  --accent-btn-cl: #188ce8;
  /* Border */
  --border-cl: #ececec;
  --border-sec-cl: #eeeeee;
  /* Others */
  --indent: 30px;
  --items: 4;
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

.portfolio,
.clients,
.team,
.work,
.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.project__link,
.address__link,
.clients__link,
.nav__link,
.header-contact__link,
.socials__link,
.logo {
  text-decoration: none;
  color: currentColor;
}

.project__list,
.filter__list,
.address__list,
.clients__list,
.team__list,
.work__list,
.about__list,
.nav__list,
.header-contact__list,
.socials {
  list-style: none;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--grey-txt-cl);
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  border: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--duration);
  transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
  transition-timing-function: var(--timing-function);
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-btn-cl);
}

.main-btn {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--wh-txt-cl);
  background-color: var(--accent-txt-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-item {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
}
.logo--black {
  color: var(--bl-txt-cl);
}
.logo--white {
  color: var(--wh-txt-cl);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--wh-txt-cl);
  border-radius: 50%;
  padding: 12px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--duration);
  transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
  transition-timing-function: var(--timing-function);
}
.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-txt-cl);
}

.socials__icon {
  fill: var(--fill);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--duration);
  transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
  transition-timing-function: var(--timing-function);
}
.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--wh-txt-cl);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  color: var(--main-txt-cl);
  margin-bottom: 50px;
}

.header {
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--border-cl);
}
.header .logo {
  margin-right: 93px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  gap: 50px;
}

.header-contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration);
  transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
  transition-timing-function: var(--timing-function);
}
.header-contact__link:hover,
.header-contact__link:focus {
  color: var(--accent-txt-cl);
}

.header-contact__icon {
  fill: currentColor;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 50px;
}

.nav__item {
  position: relative;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-txt-cl);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration);
  transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
  transition-timing-function: var(--timing-function);
}
.nav__link:hover,
.nav__link:focus {
  color: var(--accent-txt-cl);
}
.nav__link--current {
  color: var(--accent-txt-cl);
}
.nav__link--current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-txt-cl);
  border-radius: 2px;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    ),
    url(../images/background/hero-bg.jpg);
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px auto;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--wh-txt-cl);
  max-width: 696px;
  margin-bottom: 30px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 25px 100px;
  background: var(--grey-bg-cl);
  border-radius: 4px;
  margin-bottom: 30px;
}

.about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--main-txt-cl);
  margin-bottom: 10px;
}

.work {
  padding-top: 0;
}

.work__item {
  --items: 3;
  position: relative;
}

.work__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: var(--wh-txt-cl);
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

.team {
  background-color: var(--grey-bg-cl);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__item {
  background-color: var(--wh-txt-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__wrapper {
  padding: 30px;
}

.team__title,
.team__text {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}

.team__title {
  font-weight: 500;
  color: var(--main-txt-cl);
  margin-bottom: 10px;
}

.team__text {
  margin-bottom: 16px;
}

.clients__item {
  --items: 6;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 31px;
  border: 1px solid var(--fill);
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--duration);
  transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
  transition-timing-function: var(--timing-function);
}
.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-txt-cl);
}

.clients__icon {
  fill: var(--fill);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--duration);
  transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
  transition-timing-function: var(--timing-function);
}
.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-txt-cl);
}

.footer {
  background-color: var(--dark-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}
.footer .socials__link {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--duration);
  transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
  transition-timing-function: var(--timing-function);
}
.footer .socials__link:hover,
.footer .socials__link:focus {
  background-color: var(--accent-txt-cl);
}
.footer .socials__icon {
  fill: var(--wh-txt-cl);
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  gap: 70px;
}

.footer-title {
  display: block;
  font-weight: 700;
  text-align: start;
  text-transform: uppercase;
  line-height: 1.1428571429;
  color: var(--wh-txt-cl);
  margin-bottom: 20px;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: left;
  margin-left: auto;
}

.footer-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 15px 16px;
  outline: transparent;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  margin-right: 8px;
  color: var(--wh-txt-cl);
}

.footer-form-btn__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
}

.footer-form__icon {
  fill: var(--wh-txt-cl);
}

address {
  display: block;
  font-style: normal;
}

.address__item {
  color: var(--wh-txt-cl);
  margin-bottom: 9px;
}
.address__item:last-child {
  margin-bottom: 0;
}

.address__contact {
  color: var(--address-cl);
}

.address__link {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--duration);
  transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
  transition-timing-function: var(--timing-function);
}
.address__link:hover,
.address__link:focus {
  color: var(--accent-txt-cl);
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter__btn {
  display: block;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  background-color: var(--grey-bg-cl);
  border-radius: 4px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--duration);
  transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
  transition-timing-function: var(--timing-function);
}
.filter__btn:hover,
.filter__btn:focus {
  color: var(--wh-txt-cl);
  background: var(--accent-txt-cl);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project__item {
  --items: 3;
}

.project__link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--duration);
  transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
  transition-timing-function: var(--timing-function);
}
.project__link:hover,
.project__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.project__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--wh-txt-cl);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: var(--duration);
  transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
  transition-timing-function: var(--timing-function);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.project__link:hover .project__text,
.project__link:focus .project__text {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.project__wrapper {
  padding: 20px 24px;
  background: var(--wh-txt-cl);
  border: 1px solid var(--border-sec-cl);
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--main-txt-cl);
  margin-bottom: 4px;
}

.project__uppertitle {
  font-size: 16px;
  line-height: 1.875;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: var(--duration);
  transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
  transition-timing-function: var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  background-color: var(--wh-txt-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--duration);
  transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
  transition-timing-function: var(--timing-function);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  -webkit-transform: scale(0) rotate(90deg);
  transform: scale(0) rotate(90deg);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--wh-txt-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--duration);
  transition-duration: var(--duration);
  -webkit-transition-timing-function: var(--timing-function);
  transition-timing-function: var(--timing-function);
}
.modal__btn:hover,
.modal__btn:focus {
  fill: var(--accent-txt-cl);
}

.register-form {
  text-align: center;
}

.register-form__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--main-txt-cl);
  margin-bottom: 12px;
}

.register-form__group {
  margin-bottom: 20px;
}

.register-form__wrap {
  display: block;
  margin-bottom: 10px;
}
.register-form__wrap:last-child {
  margin-bottom: 0px;
}

.register-form__label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--grey-txt-cl);
  display: block;
  text-align: left;
  margin-bottom: 4px;
}

.register-form__filed {
  position: relative;
}

.register-form__input,
.register-form__message {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px;
  padding-left: 42px;
  outline: transparent;
  width: 100%;
  -webkit-transition: border-color var(--duration) var(--timing-function);
  transition: border-color var(--duration) var(--timing-function);
}
.register-form__input:hover,
.register-form__input:focus,
.register-form__message:hover,
.register-form__message:focus {
  border-color: var(--accent-txt-cl);
}

.register-form__message {
  display: block;
  padding-left: 16px;
  resize: none;
  height: 120px;
}
.register-form__message::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.register-form__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 12px;
  -webkit-transition: fill var(--duration) var(--timing-function);
  transition: fill var(--duration) var(--timing-function);
}
.register-form__input:hover + .register-form__icon,
.register-form__input:focus + .register-form__icon {
  fill: var(--accent-txt-cl);
}

.register-form__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
  cursor: pointer;
}

.register-form__agreement__text {
  color: var(--grey-txt-cl);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.register-form__agreement__link {
  color: var(--accent-txt-cl);
}

.register-form__agreement__icon-uncheck {
  -webkit-transition: fill var(--duration) var(--timing-function);
  transition: fill var(--duration) var(--timing-function);
}
.register-form__agreement__checkbox:checked
  + .register-icon
  .register-form__agreement__icon-uncheck {
  opacity: 0;
}
.register-form__agreement__checkbox:hover
  + .register-form__agreement__icon
  .register-form__agreement__icon-uncheck,
.register-form__agreement__checkbox:focus
  + .register-form__agreement__icon
  .register-form__agreement__icon-uncheck {
  fill: var(--accent-txt-cl);
}

.register-form__agreement__icon-check {
  opacity: 0;
  -webkit-transition: opacity var(--duration) var(--timing-function);
  transition: opacity var(--duration) var(--timing-function);
}
.register-form__agreement__checkbox:checked
  + .register-form__agreement__icon
  .register-form__agreement__icon-check {
  opacity: 1;
} /*# sourceMappingURL=main.css.map */
