.header {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  border-bottom: 1px solid var(--border-cl);

  .logo {
    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
      margin-left: 15px;
    }
  }
}

.header-container {
  display: flex;
  align-items: center;
  position: relative;

  width: 100%;

  @media screen and (min-width: 768px) {
    width: 738px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.header-contact__list {
  @extend %list;
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 50px;
  }
}

.header-contact__link {
  @extend %link;

  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;
  gap: 10px;

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(16 / 14);

    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-contact__icon {
  fill: currentColor;
}
