address {
  display: block;
  font-style: normal;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.address-container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-left: 0;
    padding-left: 76px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 0;
  }
}

.address__list {
  @extend %list;
}

.address__item {
  color: var(--wh-txt-cl);

  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.address__contact {
  color: var(--address-cl);
}

.address__link {
  @extend %link;

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}
