.modal {
  position: relative;

  background-color: var(--wh-txt-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  width: 450px;
  height: 609px;

  padding: 40px;

  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  .backdrop.is-hidden & {
    transform: scale(0) rotate(90deg);
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;

  background-color: var(--wh-txt-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  width: 30px;
  height: 30px;

  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-txt-cl);
  }
}
